<!DOCTYPE html>
<html>
    <head>
        <title>{{ mytitle }}</title>
    </head>
    <body>
        <h1>Test image</h1>
        <p>{{ firstPar }}</p>

        <hr/>
        <h2>SUNDAE</h2>
        <img src='../static/Images/Charts/SUNDAE-ADA_0.3.png'/>

        <hr/>
        <h2>LQ</h2>
        <img src='../static/Images/Charts/LQ-ADA_0.3.png'/>

        <hr/>
        <h2>WMT</h2>
        <img src='../static/Images/Charts/WMT-ADA_0.3.png'/>

        <hr/>
        <h2>MILK</h2>
        <img src='../static/Images/Charts/MILK-ADA_0.3.png'/>

        <hr/>
        <h2>MELD</h2>
        <img src='../static/Images/Charts/MELD-ADA_0.3.png'/>

        <hr/>
        <h2>MIN</h2>
        <img src='../static/Images/Charts/MIN-ADA_0.3.png'/>
    </body>
</html>